.in-page-nav {
    padding: 1rem;
    border-left: solid 4px #d7153a;
}

nav {
    display: block;
}

.in-page-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.in-page-nav__list-item {
    margin-top: 1rem;
    display: block;
}

.in-page-nav__link {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    color: #002664;
    text-decoration: none;
    display: inline-block;
}